
.customer-confirmation {
    background-color: #3964E7;
    color: #FFF;
    height: 92vh;
}


.login-btn{
    background-color: #1ED65A;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
